<h1>Startups Index</h1>

<% if !!logged_in? %>
<p>Hello <%= @user.name %>!</p>
<% end %>

<p><% @startups.each do |s|  %>

<a href="/startups/<%= s.id %>"><%=s.name%></a><br>
<% end %></p>

<!--Dedicated link to view your own startups-->
<br></br>
<a href="/startups/new">Create Startup Profile</a><br>
<a href="/mentors/new">Create Mentor Profile</a><br>
