<div class="row">
  <div class="col">
    <h2>Create Startup Profile</h2>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Create your startup's profile below.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <form action="/startups" method="post">
      <div class="form-group">
        <label for="startupname">Startup Name</label>
        <input type="text" class="form-control" name="name" id="startupname" required>
      </div>
      <div class="form-group">
        <label for="description">Startup Description</label>
        <textarea name="description" id="description" class="form-control" rows="5" cols="50" required></textarea>
      </div>
      <div class="form-group">
        <label for="year">Founding Year</label>
        <input type="text" class="form-control" id="year" name="year_founded" required>
      </div>
      <div class="form-group">
        <label for="website">Website</label>
        <input type="text" id="website" class="form-control" name="website">
      </div>
      <div class="form-group">
        <label for="stage">Select your startup's lifecycle stage</label>
        <select id="stage" class="form-control" name="stage">
          <option value="Seed">Seed</option>
          <option value="Early Stage">Early Stage</option>
          <option value="Late Stage">Late Stage</option>
        </select>
      </div>
      <div class="form-group">
        <label>Select the areas from the list below where your startup needs help</label>
        <div class="custom-control custom-radio">
          <input type="radio" id="helpneeded1" name="help_needed" class="custom-control-input" value="Operations">
          <label class="custom-control-label" for="helpneeded1">Operations</label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="helpneeded2" name="help_needed" class="custom-control-input" value="Funding">
          <label class="custom-control-label" for="helpneeded2">Funding</label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="helpneeded3" name="help_needed" class="custom-control-input" value="Product & Design">
          <label class="custom-control-label" for="helpneeded3">Product &amp; Design</label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="helpneeded4" name="help_needed" class="custom-control-input" value="Marketing">
          <label class="custom-control-label" for="helpneeded4">Marketing</label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="helpneeded5" name="help_needed" class="custom-control-input" value="Technology">
          <label class="custom-control-label" for="helpneeded5">Technology</label>
        </div>
      </div> <!-- form-group -->
      <input class="btn btn-primary" type="submit" value="Submit">
    </form>
  </div>
</div>
