<h2>Sign Up</h2>
<form action="/signup" method="POST">
  <input type="text" name="name" placeholder="Full Name:">
  <input type="text" name="email" placeholder="Email:">
  <input type="text" name="password" placeholder="Password:">
<br><br>
  <p>Would you like to setup your mentor profile?</p>
  <input type="checkbox" id="yes" name="yes">
  <label for="yes">Yes, I'd like to get started now</label>
  <input type="checkbox" id="no" name="no">
  <label for="no">No, maybe later.</label>
  <br><br>
  <input type="submit" value="Sign Up">
</form>
