<div class="row">
  <div class="col">
    <h2>Sign Up</h2>
  </div>
</div>
<div class="row">
  <div class="col">
    <form action="/signup" method="POST">
      <div class="form-group">
        <label for="fullname">Full Name</label>
        <input type="text" class="form-control" name="name" id="fullname" required>
      </div>
      <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" required>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" id="password" aria-describedby="passwordHelp" required>
        <small id="passwordHelp" class="form-text text-muted">Enter at least 6 characters.</small>
      </div>
      <p>Would you like to setup your mentor profile?</p>
      <div class="form-group">
        <input type="radio" id="yes" name="setup" value="yes">
        <label for="yes">Yes, I'd like to get started now</label>
        <input type="radio" id="no" name="setup" value="no">
        <label for="no">No, maybe later.</label>
      </div>
      <input type="submit" class="btn btn-primary" value="Submit"> <small class="text-muted">Already have an account? <a href="/login">Log in here</a>.</small>
    </form>
  </div> <!-- col -->
</div> <!-- row -->
