<div class="row">
  <div class="col">
    <h2>Mentors Index</h2>
  </div>
</div>

<% @users.find_all do |u| %>
  <% if !!u.mentor_description %>
    <div class="row">
      <div class="col">
        <a class="link-list-item" href="/mentors/<%= u.id %>"><%=u.name%></a>
      </div>
    </div>
  <% end %>
<% end %>

<div class="button-stack">
  <div class="row button-stack-item">
    <div class="col">
      <a class="btn btn-primary" href="/mentors/new">Create Mentor Profile</a><br>
    </div>
  </div>
  <div class="row button-stack-item">
    <div class="col">
      <a class="btn btn-primary" href="/startups/new">Create Startup Profile</a>
    </div>
  </div>
</div>
