<h1>Mentors Index</h1>

<% if !!logged_in? %>
<p>Hello <%= @user.name %>!</p>
<% end %>

<p><% @users.find_all do |u|  %>
<% if !!u.mentor_description %>
<a href="/mentors/<%= u.id %>"><%=u.name%></a><br>
<% end %>
<% end %></p>

<br></br>
<a href="/mentors/new">Create Mentor Profile</a><br>
<a href="/startups/new">Create Startup Profile</a><br>
