<h1>Mentors Index</h1>

<% if !!logged_in? %>
<p>Welcome <%= @user.name %>!</p>
<% end %>

<p><% @users.find_all do |u|  %>
<% if !!u.mentor_description %>
<a href="/mentors/<%= u.id %>"><%=u.name%></a><br>
<% end %>
<% end %></p>
