<div class="row">
  <div class="col">
    <h2>Create Mentor Profile</h2>
  </div>
</div>

<form action="/mentors" method="post">
  <div class="form-group">
    <label for="bio">About Me</label>
    <textarea type="text" class="form-control" name="mentor_description" id="bio" rows="5" cols="50" required placeholder="Enter a short biography"></textarea>
  </div>
  <div class="form-group">
    <label for="location">Location</label>
    <input type="text" name="location" class="form-control" required placeholder="Hollywood, CA USA">
  </div>
  <div class="form-group">
    <label for="linkedIn">LinkedIn URL</label>
    <input type="text" name="linked_in" value="" class="form-control" placeholder="http://www.linkedin.com/">
  </div>
  <input type="submit" class="btn btn-primary" value="Submit">
</form>
