<div class="container">
  <header><img src="images/corneal-small.png" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Product Hunt South Florida Startup CMS</h2>

    <div class="content">
      <p>Welcome to the Product Hunt South Florida Startup CMS! </p>

      <p>Want to pitch your startup at the next Product Hunt event? Signup and provide some information about your startup we will keep you notified of the next event in your area.
      Want to mentor a startup in your local area? Create a mentor profile and select a startup from our comprehensive database.</p>

      <p>What would you like to do next?</p>

      <a href="/signup">Sign up</a> or <a href="/login">Log in</a>

      <br><br>
    </div>


  </div>
</div>
