<div class="row">
  <div class="col">
    <h2>Product Hunt South Florida Startup Base</h2>
  </div>
</div>
<div class="row">
  <div class="col">
  <p>Welcome to the Product Hunt South Florida Startup Base!</p>
  <p>Want to pitch your startup at the next Product Hunt event? Signup and provide some information about your startup we will keep you notified of the next event in your area.</p>
  <p>Want to mentor a startup in your local area? Create a mentor profile and select a startup from our comprehensive database.</p>
</div>
</div>
<div class="row">
  <div class="col">
  <% if !logged_in? %>
  <p>What would you like to do next?<br><br>
  <a class="btn btn-primary" href="/signup">Sign up</a> or <a class="btn btn-primary" href="/login">Log in</a></p>
  <% end %>
  </div>
</div>
